{% extends "base.html" %}

  {% block content %}
 
    <div>
      <h3 ><a class="page_title create" href={{url_for('newMenuItem',
          restaurant_id=restaurant_id)}}>New Menu Item</a></h3>
    </div>
    {% with messages = get_flashed_messages() %}

      {% if messages %}

      <ul>
        {% for message in messages %}
          
          <li><strong>{{message}}</strong></li>

        {% endfor %}

      </ul>

      {% endif %}
    {% endwith %}

    <div class="pane">
      {% if not items %}

        <p>You currently have no items.</p>

      {% endif %}

      {% for i in items %}

      <div>
        <h3 class="title">{{i['name']}}<h3>
      </div>

      <div>
        <p>{{i['description']}}</p>
      </div>

      <div>
        <p>{{i['price']}}</p>
      </div>

      <div>
        <a class="subtitle" href={{url_for('editMenuItem', restaurant_id=restaurant_id,
          menu_id=i.id)}}>Edit Menu Item</a>
      </div>

      <div>
        <a class="subtitle" href={{url_for('deleteMenuItem', restaurant_id=restaurant_id,
          menu_id=i.id)}}>Delete Menu Item</a>
      </div>

      {% endfor %}

    </div>

  {% endblock %}

