<html>
  <head>

  </head>

  <body>

    <div>
     <h1>{{restaurant['name']}}</h1>
    </div>

    <div>
      <h4><a href={{url_for('newMenuItem', restaurant_id=restaurant_id)}}>Create a new menu item</a></h4>
    </div>

    {% if not items %}

      <p>You currently have no items.</p>

    {% endif %}

    {% for i in items %}

    <div>
      <h3>{{i['name']}}<h3>
    </div>

    <div>
      <p>{{i['description']}}</p>
    </div>

    <div>
      <h5>{{i['price']}}</h5>
    </div>

    <div>
      <a href={{url_for('editMenuItem', restaurant_id=restaurant_id,
        menu_id=i.id)}}>Edit Menu Item</a>
    </div>

    <div>
      <a href={{url_for('deleteMenuItem', restaurant_id=restaurant_id,
        menu_id=i.id)}}>Delete Menu Item</a>
    </div>

    {% endfor %}
    
  </body>

</html>

