<html>
  <head>

  </head>

  <body>

    <div>
      <h1>Add a new item to the menu</h1>
    </div>

    <form method='post' action=#>

      <p>Name:</p>
      <input type='text' size='30' name='name'>

      <p>Description:</p>
      <textarea name='description' rows='5' cols='60'></textarea>

      <p>Price:</p>


      <input type='text' size='10' name='price'>
        

      <p>Course:</p>
      <input type='radio' name='course' value='Entree'>Entree
      <br>
      <input type='radio' name='course' value='Appetizer'>Appetizer
      <br>
      <input type='radio' name='course' value='Dessert'>Dessert
      <br>
      <input type='radio' name='course' value='Beverage'>Beverage
      <br>
      <br>

      <div>
        <input type='submit' value='Add item'>
        <a href={{url_for('showMenu', restaurant_id=restaurant_id)}}>Cancel</a>
      </div>

    </form> 



  </body>

</html>
