{% extends "base.html" %}

  {% block content %}
 
    <form method='post' action=#>

      <p class="title">Name:</p>

      <input type='text' size='30' name='name'>

      <p class="title">Description:</p>

      <textarea name='description' rows='5' cols='60'></textarea>

      <p class="title">Price:</p>

      <input type='text' size='10' name='price'>
        

      <p class="title">Course:</p>

      <input type='radio' name='course' value='Appetizer'><span
        class="subtitle">Appetizer</span>
      <br>
      <input type='radio' name='course' value='Entree'><span
        class="subtitle">Entree</span>
      <br>
      <input type='radio' name='course' value='Dessert'><span
        class="subtitle">Dessert</span>
      <br>
      <input type='radio' name='course' value='Beverage'><span
        class="subtitle">Beverage</span>
      <input type='radio' name='course' value='other' checked hidden>
      <br>
      <br>

      <div>
        <input class="button button_yes" type='submit' value='Add item'>
        <a class="button button_cancel" href={{url_for('showMenu', restaurant_id=restaurant_id)}}>Cancel</a>
      </div>

    </form> 

  {% endblock %}
