{% extends "base.html" %}
  {% block content %}

  <div class="container-fluid">
    <span><a class="page_title create" href={{url_for('newRestaurant')}}>New
        Restaurant</a></span>
    <br>
    {% with messages = get_flashed_messages() %}

      {% if messages %}

      <ul>
        {% for message in messages %}
          
          <li><strong>{{message}}</strong></li>

        {% endfor %}

      </ul>

      {% endif %}
    {% endwith %}


    <div class="row pane">       
      {% for r in restaurants %}

      <div class="col-xs-12 col-sm-6">

        <div>
          <h2><a class="title" href={{url_for('showMenu', restaurant_id=r.id)}}
              title='{{r.name}}' >{{r.name}}</a></h2>
        </div> 

        <div>
          <a class="subtitle" href={{url_for('editRestaurant', restaurant_id=r.id)}}>Edit Restaurant</a>
        </div>

        <div>
          <a class="subtitle" href={{url_for('deleteRestaurant', restaurant_id=r.id)}}>Delete Restaurant</a>
        </div>

      </div>
      {% endfor %} 

    </div>   
  </div> 

    {% endblock %}

  </body>
</html>
