<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',
    filename='styles.css')}}">
  </head>

  <body>
    <h1>What's there to eat?</h1>

    {% with messages = get_flashed_messages() %}

      {% if messages %}

      <ul>
        {% for message in messages %}
          
          <li><strong>{{message}}</strong></li>

        {% endfor %}

      </ul>

      {% endif %}
    {% endwith %}

    <h3><a class="new_restaurant" href={{url_for('newRestaurant')}}>New restaurant</a></h3>
    <br>

      <div class="all_restaurants">
        {% for r in restaurants %}

        <div class="restaurant">

          <div>
            <h2><a class="title" href={{url_for('showMenu', restaurant_id=r.id)}}>{{r.name}}</a></h2>
          </div> 

          <div>
            <a class="subtitle" href={{url_for('editRestaurant', restaurant_id=r.id)}}>Edit Restaurant</a>
          </div>

          <div>
            <a class="subtitle" href={{url_for('deleteRestaurant', restaurant_id=r.id)}}>Delete Restaurant</a>
          </div>

        </div>
        {% endfor %} 

    </div> 
  </body>
</html>
